body {
  margin: 0;
  font‑family: 'Poppins', sans‑serif;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/11355f00-8dbc-42a1-95f3-8df7f8510cb9/dg0fkxb-77b2331b-3687-4335-8530-2217a98fcc54.jpg/v1/fill/w_1051,h_760,q_70,strp/one_piece___luffy_gear_5_by_nikhil93bmn_dg0fkxb-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzgwOCIsInBhdGgiOiIvZi8xMTM1NWYwMC04ZGJjLTQyYTEtOTVmMy04ZGY3Zjg1MTBjYjkvZGcwZmt4Yi03N2IyMzMxYi0zNjg3LTQzMzUtODUzMC0yMjE3YTk4ZmNjNTQuanBnIiwid2lkdGgiOiI8PTUyNjEifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.7CD3eXUMMfHyGlcZxXfrULuf9W-9OJQEyCCumDC6AaE') no‑repeat center/cover;
  color: #222;
  text‑align: center;
  line‑height: 1.6;
}


header {
  background-color: #ffcc00;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  font-size: 1.4em;
}

#lang-toggle {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#lang-toggle:hover {
  background: #444;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
  color: #c00;
  margin-bottom: 15px;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  font-style: italic;
}
