body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #222;
  text-align: center;
  line-height: 1.6;
  background-color: #fdf5d4; /* cor de fundo sólida */
}

/* HEADER */
header {
  background-color: #ffcc00;
  padding: 20px;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  flex-wrap: wrap;
  border-bottom: 4px solid #c00;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  text-align: center;
}

h1 {
  margin: 0 auto;       /* centraliza o h1 dentro do header */
  font-size: 1.6em;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

/* SEÇÕES */
section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 12px;
  margin-top: 25px;
  border-left: 6px solid #ffcc00;
  border-right: 6px solid #ffcc00;
  box-shadow: 0 0 15px rgba(0,0,0,0.12);
  transition: 0.3s;
}

section:hover {
  transform: scale(1.01);
}

/* TÍTULOS DAS SEÇÕES */
section h2 {
  color: #c00;
  margin-bottom: 15px;
  font-size: 1.8em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

/* RODAPÉ */
footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  font-style: italic;
  border-top: 4px solid #ffcc00;
}
