bbody {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #fff6d5, #ffecb3);
  color: #222;
  text-align: center;
  line-height: 1.6;
}

header {
  background-color: #ffcc00;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
}

#lang-toggle {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#lang-toggle:hover {
  background: #444;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  font-style: italic;
}
