body {
  margin: 0;
  font‑family: 'Poppins', sans‑serif;
  background: url('https://www.google.com/imgres?q=one%20piece&imgurl=https%3A%2F%2Fimgsrv.crunchyroll.com%2Fcdn-cgi%2Fimage%2Ffit%3Dcover%2Cformat%3Dauto%2Cquality%3D85%2Cwidth%3D1920%2Fkeyart%2FGRMG8ZQZR-backdrop_wide&imgrefurl=https%3A%2F%2Fwww.crunchyroll.com%2Fpt-br%2Fseries%2FGRMG8ZQZR%2Fone-piece%3Fsrsltid%3DAfmBOorYICnwryVuxaNRbpl56dUyUyGRkB2ClIkVxYwG8oVT9JfQn-dN&docid=AmOAfBRY171A-M&tbnid=9tspjiTEDIL2EM&vet=12ahUKEwjS5N3CwNKQAxXVIbkGHSFoPH0QM3oECBUQAA..i&w=1920&h=762&hcb=2&ved=2ahUKEwjS5N3CwNKQAxXVIbkGHSFoPH0QM3oECBUQAA') no‑repeat center/cover;
  color: #222;
  text‑align: center;
  line‑height: 1.6;
}


header {
  background-color: #ffcc00;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  font-size: 1.4em;
}

#lang-toggle {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#lang-toggle:hover {
  background: #444;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
  color: #c00;
  margin-bottom: 15px;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  font-style: italic;
}
